<h3>Cadastro de Novos Funcionarios</h3>

<nav style=>
    <label for="name">Name:</label>
    <input [(ngModel)]="produto.name" id="name">
    <br />
    <br />
    <label for="email">Email:</label>
    <input [(ngModel)]="produto.email" id="email">
    <br />
    <br />
    <label for="password">Senha:</label>
    <input [(ngModel)]="produto.password" id="password">
    <br />
    <br />
    <label for="SectorId">Setor:</label>
    <input [(ngModel)]="produto.SectorId" id="SectorId">
    <br />
    <br />

    <button (click)="salvar()">{{botaoAcao}}</button>
    <button (click)="cancelar()">Cancelar</button>

    <h4>{{mensagem}}</h4>
    <br />
</nav>